body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #1D2021;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.5%;
    width: 100%;
    -webkit-app-region: drag;
    
    -webkit-user-select: none;
    user-select: none;
}
.file-name {
    font-size: 12px;
    line-height: 14px;
    color: #eadab5;
}
.close-btn {
    align-self: flex-start;
    border: none;
    background-color: #1D2021;
    color: #eadab5;
    -webkit-app-region: no-drag;
}
.close-btn:hover {
    cursor: pointer;
    color: #eadab5;
}

.content {
    height: 95%;
    display: flex;
    flex-direction: row;

}

.editor {
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.5%;
    width: 100%;
}
.footer-text {
    font-size: 12px;
    line-height: 14px;
    color: #eadab5;
}
.icon-file-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.gg-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
   }
   
   .gg-close::after,
   .gg-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
   }
   
   .gg-close::after {
    transform: rotate(-45deg)
   } 


::-webkit-scrollbar {
    background: #1D2021;
    width: 0px;
}